# Avora prototype only
*
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/**
!home.html
!boards.html
!videos.html
!characters.html
!workspace.html
!app.js
!site.css
!workspace.css
!workspace.js
!auth.js
!auth.css
!index.html
!landing.css
!landing.js
!pages.css
!styles.css
!studio-flow.js
!studio.html
!subscribe.html
!recruit.html
!privacy.html
!privacy-data-deletion.html
!terms.html
!content-policy.html
!api-reference.html
!contact.html
!professor-board/
!professor-board/**
!login/
!login/**
!assets/
!assets/app/
!assets/app/**
!assets/brand/
!assets/brand/**
!assets/landing/
!assets/landing/**
!assets/partners/
!assets/partners/**
!README.md
!LICENSE
!.nojekyll
