# AvoraEdu prototype only
*
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/**
!edu.html
!edu-boards.html
!edu-workspace.html
!edu.css
!edu-workspace.css
!edu-workspace.js
!assets/
!assets/edu/
!assets/edu/**
!README.md
!LICENSE
!.nojekyll
